#body {
    text-align: center;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

#body * {
    font-family: 'Kaushan Script', cursive;
}

.jumbotron * {
    color: #4361ee;
    text-shadow: 2px 2px white;
}

.jumbotron {
    background-image: url("assets/Coral.jpeg");
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
}

/*.tank {*/
/*    transition: transform .2s;*/
/*}*/

/*.tank:hover{*/
/*    transform: scale3d(1.5, 1.5, 1.5);*/
/*}*/

.bi{
    color: blue;
}

.quoteForm input {
    width: 100%;
    clear: both;
}

.quoteForm textarea {
    width: 100%;
}

.examples {
   margin: 0 auto;
    float: none;
}